// colors
$black_color: #000;
$white_color: #FFF;

$primary_color: #aa1616;
$secondary_color: #1651aa;
$accent_color: #eff126;
$link_color: #519812;
$text_color: rgba(0, 0, 0, 0.8);

$info_color: #00529B;
$info_bg_color: #BDE5F8;
$success_color: #4F8A10;
$success_bg_color: #DFF2BF;
$warning_color: #9F6000;
$warning_bg_color: #FEEFB3;
$error_color: #D8000C;
$eror_bg_color: #FFD2D2;

$black_smog_color: rgba($black_color, 0.2);

// margin
$base_margin: 10px;